.header
{
    background-color: #F3EEEE;
    text-align: center;
    padding:20px;    
    font-weight:bolder;
    font-size:30px;
}
p
{
    font-size:20px; 
    text-align:center;
}
.footer
{
    background-color: #C7C4C4;
    text-align: center;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%
}
body
{
    background-color: rgb(249, 252, 238);
    margin:0;
}
.cont
{
    text-align:center;
    background-color: rgb(199, 195, 195);
    width:40%;
    margin:auto;
    border-radius: 4px;
    line-height:1.75;
}
a
{
    text-decoration:none;
    color: rgb(54, 154, 212);
}
a:hover
{
color:#a12f2f;
}
#menu 
{
    list-style-type: none;
    position: fixed;
    top: 15px;
    right: 70px;
}
#menu li
{
    display: inline;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#menu li i
{
    padding: 0 10px 0 20px;
}

.update
{
	
	padding:20px;
}